@use './partials/vars.scss';

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/@fontsource/roboto/index.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    background-color: rgba($color: red, $alpha: .25);
}

img {
    max-width: 100%;
}